.statisticsList {
  display: flex;
}

.list {
  color: black;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  margin: 15px;
  cursor: pointer;
}
.list:hover {
  background-color: #8cffa1;
}

.list:active {
  background-color: #ffe600;
  transform: scale(1.08);
}

.item {
  display: flex;
}
